include README.rst
include LICENSE
include CHANGELOG
include CONTRIBUTORS
include setup.py
include requirements-dev.txt
include tox.ini
include MANIFEST.in
include .editorconfig

include bin/dennis-cmd

recursive-include dennis *.py
recursive-include docs *.py *.rst Makefile
